:root{
    --face-width : 150px;
    --face-height : 200px;
    --face-stroke : 20px;
    --colour-book-pages : #ffffd0;
    --colour-book-cover : #7d3407;
    --colour-about-me: #00b3ff;
    --colour-tech: #CC9900;
    --colour-projects: #f55c5c;
    --colour-contact: #5cA350;
    --colour-background : #060821;
    --font-family : Verdana, Geneva, Tahoma, sans-serif;
}

p{
    line-height: 1.5;
    margin-bottom: 0.5rem;
    color: black;
}

html, body {
    height: 100%; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--colour-background);
}


@keyframes shake {
    0%   {
        transform: rotateZ(0);
    }
    2.5%   {
        transform: rotateZ(5deg);
    }
    5%   {
        transform: rotateZ(-5deg);
    }
    7.5%   {
        transform: rotateZ(5deg);
    }
    10%   {
        transform: rotateZ(-5deg);
    }
    12.5%   {
        transform: rotateZ(5deg);
    }
    20%   {
        transform: rotateZ(0deg);
    }
    100%   {
        transform: rotateZ(0deg);
    }
}

@keyframes levitate {
    0%{
        transform: translateY(0) rotateY(-25deg) rotateX(45deg);
    }
    50%{
        transform: translateY(20px) rotateY(-10deg) rotateX(45deg);
    }
    100%{
        transform: translateY(0) rotateY(-25deg) rotateX(45deg);
    }
} 

@keyframes twinkle {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1.5);
    }
}

/*******************************************/
/*                                         */
/*               HOME PAGE                 */
/*                                         */
/*******************************************/

#book-container{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    position: relative;
    width: var(--face-width);
    height: var(--face-height);
    transform-style: preserve-3d;
    animation: levitate 3s infinite linear;
    z-index: 2;
}

.book:hover{
    cursor: pointer;
}

/*******************************************/
/*               BOOK FACES                */
/*******************************************/

.face{
    position: absolute;
}

.back, .front{
    width: var(--face-width);
    height: var(--face-height);
    border: 1px solid black;
    background-color: var(--colour-book-cover);
}

.front{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(20px);
    text-decoration: none;
    color: black;
}

.front h1{
    line-height: 2;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

.bottom, .top{
    width: calc( var(--face-width) - 10px);
    height: var(--face-stroke);
}

.bottom, .right, .top{
    background-color: var(--colour-book-pages);
}

.bottom{
    transform: rotateX(-90deg) translateY(-10px) translateZ(180px);
}

.top{
    transform: rotateX(90deg) translateY(10px) ;
}

.left, .right{
    width: var(--face-stroke);
}

.left{
    height: var(--face-height);
    transform: rotateY(-90deg) translateX(10px) translateZ(10px);
    background-color: var(--colour-book-cover);
}

.right{
    height: calc(var(--face-height) - 20px);
    transform: rotateY(90deg) translateX(-10px) translateZ(130px) translateY(10px);
}


/*******************************************/
/*                 HEADER                  */
/*******************************************/

header{
    height: 10%;
}

header h1{
    font-size: 1.5rem;
    color: var(--colour-book-pages);
}

header h1:hover{
    cursor: pointer;
}


/*******************************************/
/*                   NAV                   */
/*******************************************/

.navbar{
    height: 100%;
}

.navbar-brand{
    color: var(--colour-book-pages);
}

.navbar-brand:hover {
    color: var(--colour-book-pages);
}

.navbar-toggler{
    width: 1.5rem;
    height: 2rem;
    padding: 0;
    border: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.navbar-toggler-icon{
    height: inherit;
    width: inherit;
    background-image: none;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 70%, 0% 100%);
    background-color: var(--colour-book-cover);
    border-radius: 0;
}

/* Dropdown navigation menu */

.navbar-collapse {
    position: fixed;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-right: calc(var(--bs-gutter-x) * .5);
    background-color: var(--colour-background);
    z-index: 1000;
}

.navbar-nav{
    padding-left: calc(var(--bs-gutter-x) * 1.5);
    padding-right: calc(var(--bs-gutter-x) * 1.5);
    padding-top: calc(var(--bs-gutter-x) * 1.5);
}

.sommaire{
    margin-bottom: 3rem;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--colour-book-pages);
}

/* Navigation list */

.carousel-indicators{
    position: relative;
    margin: 0;
    display: block;
}

.carousel-indicators [data-bs-target]{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    margin-bottom:  calc(var(--bs-gutter-x) * 1);
    margin-left: 0;
    margin-right: 0;
    padding-top: calc(var(--bs-gutter-x) * .5);
    padding-bottom: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * 1);
    border-top: unset;
    border-bottom: unset;
    font-size: 1.5rem;
    font-weight: bold;
    background-clip: unset;
    clip-path: polygon(0% 0%, 100% 0, 90% 50%, 100% 100%, 0% 100%);
    text-indent: 0;
    text-transform: capitalize;
    color: white;
}

#about-me{
    background-color: var(--colour-about-me);
}

#tech{
    background-color: var(--colour-tech);
}

#projects{
    background-color: var(--colour-projects);
}

#contact{
    background-color: var(--colour-contact);
}


/*******************************************/
/*                                         */
/*             MAIN SECTION                */
/*                                         */
/*******************************************/

#section-main{
    height: 90%;
}

article{
    position: relative;
    height: 90%;
    padding-top: calc(var(--bs-gutter-x)*1);
    background-color: var(--colour-book-pages);
}

/* Carousel */

.carousel{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.carousel-control-container{
    height: 10%;
}

.carousel-control-prev, .carousel-control-next{
    height: 100%;
    position: relative;
    width: 50%;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: var(--colour-background);
}

.carousel-h2{
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.screenshot-a{
    display: block;
    margin: 0 auto;
}

#h2-about-me span{
    color: var(--colour-about-me) ;
    text-shadow: var(--colour-background) 0 0 2px;
}

#h2-tech span{
    color: var(--colour-tech) ;
    text-shadow: var(--colour-background) 0 0 2px;
}

#h2-projects span{
    color: var(--colour-projects) ;
    text-shadow: var(--colour-background) 0 0 2px;
}

#h2-contact span{
    color: var(--colour-contact) ;
    text-shadow: var(--colour-background) 0 0 2px;
}

.accordion{
    --bs-accordion-border-radius: 0;
    --bs-accordion-inner-border-radius: 0;
    --bs-accordion-btn-focus-box-shadow: unset;
    --bs-accordion-active-bg: var(--colour-tech);
    --bs-accordion-active-color: #fff;
}

.accordion-item{
    margin-bottom: calc(var(--bs-gutter-x)*0.5);
}

.accordion-header{
    border: 1px solid var(--colour-tech);
}

.container-contact-btn{
    padding: calc(var(--bs-gutter-x)*0.5);
}

.contact-btn{
    padding: calc(var(--bs-gutter-x)*0.5);
    background-color: var(--colour-contact);
    color: white;
    animation: shake 5s ease 4;
    animation-delay: 3s;
}

/*******************************************/
/*                                         */
/*             STARS ANIMATION             */
/*                                         */
/*******************************************/

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none; 
}

.star {
    position: absolute;
    width: 5px;
    height: 5px;
    background-image: url("images/image-star.svg");
    background-size: cover;
    opacity: 0;
    animation: twinkle 1.5s infinite alternate;
    z-index: 1;
}

/*******************************************/
/*                                         */
/*             MEDIA QUERIES               */
/*                                         */
/*******************************************/

@media (min-width: 576px) {
    
    .navbar{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .navbar-collapse{
        padding-left: calc(var(--bs-gutter-x) * 2.5);
        padding-right: calc(var(--bs-gutter-x) * 2.5);
    }
    
    #section-main{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
    article{
        padding-top: 3.5rem !important;
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #section-main{
        padding-left: 5rem;
        padding-right: 5rem;  
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    .navbar-collapse{
        right: unset;
        width: 35%;
        padding-left: 1rem;
        padding-right: 1rem;
        bottom: unset;
    }
    
    .navbar-expand-lg .navbar-nav{
        flex-direction: column;
    }
    
    .navbar-nav{
        width: 100%;
        padding-left: 1rem;
        padding-right: 2rem;
        padding-top: 3.5rem;
    }
    
    #section-main{
        position: absolute;
        width: 65%;
        right: 0;
    }
    
    article{
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
    
    .carousel-h2{
        margin-bottom: 3rem;
        font-size: 2rem;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }
